<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <p>if you entered your credentials correct you can use IG DM through your whatsapp</p>
    <ul>
      <li>Add this number on your phone: +1 415 523 8886</li>
      <li> send a WhatsApp message to this number with code <strong>join sentence-simplest</strong>.</li>
    </ul>
  </body>
</html>